<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <%= form_tag movies_path, method: :get, class: 'my-5' do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a movie"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      <div id="movies">
        <% @movies.each do |movie| %>
          <h4><%= movie.title %></h4>
          <p><%= movie.syllabus %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>